Welcome <%= @resource.email %> !

You just created an account on <%= @instance %>.
You can login from <a href="https://mstdn.monappy.jp">here</a>.

Please also check out our terms and conditions <%= terms_url %>

Sincerely,

The <%= @instance %> team
