- content_for :page_title do
  = t('auth.login')

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .actions
    .login_monappy
      =link_to 'Monappyでログイン', '/auth/oauth/monappy', style: 'width: 100%'

.form-footer= render "auth/shared/links"
